{% extends 'base.html' %}
{% block content %}

<div class="form-box">
    <h2>Create Account</h2>

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        <label>Username</label>
        <input type="text" name="username" placeholder="Enter username" required>

        <label>Email</label>
        <input type="email" name="email" placeholder="Enter email" required>

        <label>Password</label>
        <input type="password" name="password" placeholder="Enter password" required>

        <label>Confirm Password</label>
        <input type="password" name="confirm_password" placeholder="Confirm password" required>

        <button type="submit">Send OTP</button>
    </form>

    <p>Already have an account?
        <a href="{% url 'login' %}">Login</a>
    </p>
</div>

{% endblock %}